{{#partial "main"}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <h1 class="text-center mt-2">Comunidades</h1>
    <div class="container {{container-class}}">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mt-3"></div>
                <h4>Filtros:</h4>
                <button id="filtro-boton" class="btn btn-primary m-2">Ver mis comunidades</button>
                <table id="table" class="table table-striped border table-light" style="width:100%">
                    <thead>
                        <tr>
                            <th>Comunidad</th>
                            <th>Cantidad de Miembros</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each comunidades}}
                            <tr>
                                <td>{{#if this.esMiembro}}<a href="/comunidades/{{this.id}}" >{{this.nombreComunidad}}</a>{{else}}{{this.nombreComunidad}}{{/if}}</td>
                                <td>{{this.cantidadDeMiembros}}</td>
                                <td>{{#unless this.esMiembro}}
                                       <a href="/comunidades/{{this.id}}/unirse" role="button" class="btn btn-primary">Unirse</a>
                                    {{/unless}}</td>
                            </tr>
                        {{/each}}
                        <tr>
                            <td>Devs in Pyjamas</td>
                            <td>4</td>
                            <td><a class="btn btn-primary" role="button" style="background-color: #0D828C; font-family: Arial, sans-serif; color: #F2F9FF;">Unirse</a></td>
                        </tr>
                        <tr>
                            <td>Kernel Liquidators</td>
                            <td>5</td>
                            <td><a class="btn btn-primary" role="button" style="background-color: #0D828C; font-family: Arial, sans-serif; color: #F2F9FF;">Unirse</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        label{
            font-family: Arial, sans-serif;
            color: #C7C9D1;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#table').DataTable({
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Mostrar _MENU_ comunidades por página",
                    "zeroRecords": "No se encontraron comunidades",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen comunidades con ese nombre",
                    "infoFiltered": "(filtrado de un total de _MAX_ comunidades)",
                    "search": "Buscar Comunidad:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "columnDefs": [
                    {
                        "targets": -1, // Última columna (botón de unirse)
                        "orderable": false, // No se puede ordenar
                        "searchable": false // No se puede buscar
                    }
                ]
            });

            // Agregar el evento de búsqueda por comunidad
            $('#comunidad-filter').on('keyup', function () {
                table.column(0).search(this.value).draw();
            });

            var filterActive = false; // Initialize the filter state to inactive

                // Function to filter rows based on the content of the column
                function filterRowsWithButton() {
                    table.rows().every(function () {
                        var rowData = this.data();
                        var columnValue = rowData[2]; // Replace 0 with the appropriate column index

                        if (!columnValue.includes("<a")) {
                            this.nodes().to$().show(); // Show rows that contain a button
                        } else {
                            this.nodes().to$().hide(); // Hide rows that do not contain a button
                        }
                    });

                    filterActive = true;
                }

                // Function to remove the filter
                function removeButtonFilter() {
                    table.rows().every(function () {
                        this.nodes().to$().show(); // Show all rows
                    });

                    filterActive = false;
                }

                $('#filtro-boton').on('click', function() {
                    if (filterActive) {
                        document.getElementById("filtro-boton").innerHTML = "Ver mis comunidades"
                        removeButtonFilter();
                    } else {
                        document.getElementById("filtro-boton").innerHTML = "x Ver todas"
                        filterRowsWithButton();
                    }
                });

    });

    </script>

    <script>
        
       
      
    </script>
{{/partial}}
{{> layouts/layout}}